:root {
    --primary-color: rgb(0, 80, 0);
    --secondary-color: rgb(0, 0, 0);
    --h-color: rgb(130, 113, 12);
    --background-color: rgb(240, 230, 220);
    --text-color: rgb(0, 0, 0);
    --link-color: rgb(0, 80, 0);
    --link-hover-color: rgb(0, 0, 0);
    --button-color: rgb(0, 80, 0);
    --button-hover-color: rgb(0, 0, 0);
    --button-text-color: rgb(240, 230, 220);
}

html,
body {
    margin: 0;
    background-color: rgb(240, 230, 220);
    min-width: 440px;
}

h1 {
    color: var(--h-color);
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:  sans-serif;
}

.content {
    flex: 1;
    width: 75vw;
    margin: 0 auto 0 auto;
    /* box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); */
}

@media (max-width: 1000px) {
    .content {
        width: 85vw;
    }
}

@media (max-width: 700px) {
    .content {
        width: 95vw;
    }
}
